
/* CUERPO */
    .body {
      background-color: #333; /* Cambiar el color de fondo del cuerpo de la página */
    }
    @media only screen and (max-width: 600px) {
      .body {
          font-size: 15px;
        }
        }

/* ENCABEZADO */ 
    
    /* posicion de encabezado */
    .tc {
      position: relative;
    }
    /* estilo de encabezado */
    .tc {
      background-color: #333; /* Color de fondo del encabezado */
      padding: 10px; /* Espaciado interno del encabezado */
      border-top-left-radius: 50px; /* Redondea la esquina superior izquierda */
      border-bottom-right-radius: 70px; /* Redondea la esquina inferior derecha */ /* redondeo de las esquinas */
    }
    

    /* posicion de logo */
    .logo {
      width: 100%; /* Ancho del logotipo */
      height: auto; /* Altura automática para mantener la proporción */
      object-fit: cover;
    }
    /* estilo de logo */
    .logo {
      border-top-left-radius: 50px; /* Redondea la esquina superior izquierda */
      border-bottom-right-radius: 70px; /* Redondea la esquina inferior derecha */; /* redondeo de las esquinas */
    }

    /* posicion de título */
    .tin {
      position: absolute;
      margin-left: 9px; /* Margen izquierdo del título */
      font-size: 80px; /* Tamaño de fuente del título */
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2em; /* Tamaño de fuente relativo */
      line-height: 1.4;
    }
    /* estilo de titulo */
    .tin {
      color: white; /* Color del texto en el encabezado */
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: italic;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

/* SECCION PROBLEMATICA */

    .problematica {
      background-color: #f2f2f2; 
      padding: 35px;
      height: 600px;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 70px;
    }
    /* titulos */
    .titulo-pr {
      color: #333; 
      font-size: 45px; 
      margin-bottom: 10px;
      padding-bottom: 20px;
      text-align: left;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 1.2em;
      line-height: 1.4;
    }
    .titulo-cr {
      color: #333; 
      font-size: 45px; 
      margin-bottom: 10px;
      padding-bottom: 20px;
      text-align: left;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 1.2em;
      line-height: 1.4;
    }
    /* parrafos */
    .p-pr {
      color: #666;
      font-size: 38px;
      margin-bottom: 20px;
      padding-bottom: 20px;
      text-align: right;
      font-size: 1.2em;
      line-height: 1.4;

    }
    .p-cr {
      color: #666;
      font-size: 38px;
      margin-bottom: 20px;
      padding-bottom: -20px;
      text-align: right;
      font-size: 1.2em;
      line-height: 1.4;
    }    

/* SEGUNDA SECCION */
      /* division de espacios */
      .do {
      background-color: #f2f2f2; 
      padding: 35px;
      height: 1050px;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 70px;
        
      }

      .titulo-do {
        display: flex; /* Utiliza flexbox para alinear los elementos internos */
        justify-content: center; /* Distribuye los elementos internos de manera uniforme */
        margin-bottom: 80px; /* Espacio entre cada contenedor interno */
        float: left;
        height: 100vh;
        vertical-align: middle;
      }

      .contenido-do {
        float: right; /* Ubica el div a la derecha */
        width: 50%;
      }

      /* estilos de contenido */      
      .pp {
        color: #333; /* Color del texto del título */
        font-size: 40px; /* Tamaño de fuente del título */
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      /* Estilos para el título */
      .do h2 {
        color: #333; /* Color del texto */
        margin-bottom: 40px; /* Margen inferior */
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      /* Estilos para la lista */
      .do ul {
        list-style: none; /* Elimina los puntos de la lista */
      }

      /* Estilos para cada elemento de la lista */
      .do li {
        margin-bottom: 20px; /* Margen inferior entre elementos de la lista */
      }

      /* Estilos para los subtítulos en cada elemento de la lista */
      .do li h2 {
        color: #666; /* Color del texto */
        font-size: 34px; /* Tamaño de fuente del párrafo */
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-align: right;
      }

      /* Estilos para los párrafos en cada elemento de la lista */
      .do li p {
       /* Color del texto */
      color: #666; /* Color del texto del párrafo */
      font-size: 30px; /* Tamaño de fuente del párrafo */
      margin-bottom: 20px;
      padding-bottom: 20px;
      }

/* TERCERA SECCION */

      .tecnology {
        padding: 90px; /* Espaciado interno de la sección */
        float: center;
      }
      
      .tecnology h2 {
        color: #f2f2f2; /* Color del texto */
        font-size: 36px;
        padding-bottom: 20px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .tecnology p {
        color: #666;
        font-size: 36px;
        padding-bottom: 20px;
        text-align: center;
      }

      .tecnology li {
        color: #666;
        font-size: 36px;
        padding-bottom: 20px;
        text-align: left;
        margin-bottom: 40px;
        padding-bottom: 40px;
      }

/* FOOTER */
    
    .footer-section {
      background-color: #dba22f;
      position: relative;
    }
    .footer-e-mail {
      border-bottom: 2px solid #373636;
      font-size: 25px;
      padding-bottom: 20px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .e-mail {
      padding-left: 15px;
      text-align: center;
    }

    /* links */
    .footer-titulo h3 {
      color: #fff;
      font-size: 20px;     
      position: relative;
      margin-left: 90px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    /* lista */
    
    .footer-primero ul li {
      display: inline-block;
      float: left;
      width: 50%;
      margin-bottom: 15px;
    }
    .lista {
      background-color: #dba22f;
      height:110px;
      color: #666;
      font-size: 18px;
      padding-bottom: 20px;
      text-align: left;
    }

    /* copyright */
    .copyright {
      background: #202020;
      padding: 25px 0;
      height:19px;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
      text-align: center;
    }
    .copyright-text p a{
      color: #ff5e14;
    }